[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=ExtendedColorSelector
X-Python-2-Compatible=false
X-Krita-Manual=manual.html
Name=ExtendedColorSelector
Comment=ExtendedColorSelector